<%= form_with model: person do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% person.errors.full_messages_for(:name).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
    <% person.errors.full_messages_for(:age).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :weight %>
    <%= form.number_field :weight %>
    <% person.errors.full_messages_for(:weight).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body_build %>
    <%= form.radio_button :body_build, 'SLIM' %>
    <%= form.label :body_build, 'SLIM' %><br>
    <%= form.radio_button :body_build, 'FIT' %>
    <%= form.label :body_build, 'FIT' %><br>
    <%= form.radio_button :body_build, 'LARGE' %>
    <%= form.label :body_build, 'LARGE' %><br>

    <% person.errors.full_messages_for(:body_build).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
