<h3><%= image_tag("user_32.png")%> <%= @person.name %>'s Page</h3>
<article>
<h4>Details</h4>
<p>
Age: <b><%= @person.age %></b> <br>
Birthdate: <b><%= @person.birthdate %></b> <br>
Weight: <b><%= @person.weight %> kg</b> <br>
Body Build: <b><%= @person.body_build %></b>
</p>

<%= link_to "Edit", edit_person_path(@person) %> | 
<%= link_to "Remove", person_path(@person), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</article>
<article>
<h4>Trail History</h4>
<% if @person.ongoing_practice? %> 
  <article>
    <div class="row">
      <div class=column_left>
        <strong><%= @person.ongoing_practice.trail.name %></strong>
        <%= status_tag('ONGOING') %><br>
        <%= link_to "Details", @person.ongoing_practice.trail %>
      </div>
      <div class=column_right>
        <%= form_with model: [@person, @person.ongoing_practice] do |form| %>
          <%= form.hidden_field :status, value: :FINISHED %>
          <%= form.submit "Finish Practice"%>
        <% end %>
      </div>
    </div>
    <% if flash[:alert] %>
      <div class="form_error"><%= flash[:alert] %></div>
    <% end %>
  </article>
<% else %> 
  <p> No ongoing trails at the moment. <%= link_to "Start Practice on a Trail!", new_person_practice_path(@person) %> </p>
<% end %> 

<details>
<summary>Past Trails</summary>
<% if @person.past_practices? %> 
  <ul>
  <% @person.past_practices.each do |practice| %> 
    <li><%= link_to practice.trail.name, practice.trail %> (<%= practice.updated_at.strftime("%Y-%m-%d %I:%M%p") %>)</li> 
  <% end %> 
  </ul>
<% else %> 
  None yet!
<% end %>
</details>
</article>

<article>
<h4>Race History</h4>
<%= link_to "Register for a Race", new_person_run_path(@person) %></td>
<ul>
<% @person.runs.each do |run| %> 
  <li><%= link_to run.race.name, person_run_path(@person, run) %></li>
<% end %> 
</ul>
</article>