<h2><%= @person.name.upcase %>'s Details</h2>

<p>Age: <%= @person.age %></p>
<p>Weight: <%= @person.weight %> kg</p>
<p>Body Build: <%= @person.body_build %></p>

<%= link_to "Edit", edit_person_path(@person) %> | 
<%= link_to "Remove", person_path(@person), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<br><br>
<h2><%= @person.name.upcase %>'s Ongoing Trail: </h2>
<% if @person.ongoing_practice? %> 
  <table style="border:1px solid gray; width:15% ">
  <tr>
  <td><strong><%= @person.ongoing_practice.trail.name %></strong></td>
  </tr>
  <tr>
  <td><%= link_to "Details", @person.ongoing_practice.trail %></td>
  <td>
  <%= form_with model: @person.ongoing_practice do |form| %>
    <%= form.hidden_field :status, value: :FINISHED %>
    <%= form.hidden_field :person_id, value: @person.id %>
    <%= form.submit "Mark as Finished"%>
  <% end %>
  </td>
  </tr>
  </table>
<% else %> 
  None at the moment. 
  <%= link_to "Start a Trail!", new_practice_path(person_id: @person.id) %></td>
<% end %> 

<h2><%= @person.name.upcase %>'s Past Trails: </h2>
<% if @person.past_practices? %> 
  <% @person.past_practices.each do |practice| %> 
    <ul><li><%= link_to practice.trail.name, practice.trail %> </li> (<%= practice.updated_at.to_fs(:db) %>)</ul>
  <% end %> 
<% else %> 
  None yet!
<% end %>