<%= form_with model: [@trail, @race] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% @race.errors.full_messages_for(:name).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label 'Start Date and Time' %>
    <%= form.datetime_local_field :start %>
    <% @race.errors.full_messages_for(:start).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :duration %>
    <%= form.number_field :duration, step: 0.01 %>
    <% @race.errors.full_messages_for(:duration).each do |message| %>
      <div class="form_error"><%= message %></div>
    <% end %>
  </div>

  <% @race.errors.full_messages_for(:detail).each do |message| %>
    <div class="form_error"><%= message %></div>
  <% end %>
  <% @race.errors.full_messages_for(:status).each do |message| %>
    <div class="form_error"><%= message %></div>
  <% end %>
  <% @race.errors.full_messages_for(:time_period).each do |message| %>
    <div class="form_error"><%= message %></div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Back to Races", trail_races_path(@trail) %>