<div class="row">
  <div class="column left">
    <h3>List of Races</h3>
  </div>

</div>

<table>
  <thead>
    <tr>
      <th>Trail</th>
      <th>Race Name</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>Start Time</th>
    </tr>
  </thead>
  <tbody>
    <% @races.order(:start).each do |race| %>
    <tr>
      <td><%= link_to race.trail.name, [race.trail] %></td>
      <td style="width:25%"><%= link_to race.name, [race.trail, race] %></td>
      <td><%= race.status %></td>
      <td><%= race.start.to_date %></td>
      <td><%= race.start.strftime("%I:%M%p") %></td>
    </tr>
    <% end %>
  </tbody>
</table>