<h2>The <%= @race.name %> Race</h2>

<h3>Details:</h3>
<p>Status: <%= @race.status %></p>
<p>Start: <%= @race.start.to_fs(:db) %></p>
<p>Duration (hours): <%= @race.duration %></p>

<%= link_to "Edit Details", edit_trail_race_path([@trail, @race]) %> | 
<%= link_to "Remove", trail_race_path([@trail, @race]), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>