<h3>The <%= @race.name %> Race</h3>

<% if @race.status_NEW? %>
<%= form_with model: [@trail, @race] do |form| %>
  <%= form.hidden_field :status, value: :STARTED %>
  <%= form.submit "Start Race"%>
<% end %>
<% end %>

<% if flash[:alert] %>
  <p style="color:red;"><%= flash[:alert] %></p>
<% end %>

<% if @race.status_STARTED? %>
<%= form_with model: [@trail, @race] do |form| %>
  <%= form.hidden_field :status, value: :FINISHED %>
  <%= form.submit "Finish Race"%>
<% end %>
<% end %>

<article>
<h4>Details:</h4>
<p>Status: <%= @race.status %></p>
<p>Start: <%= @race.start.to_fs(:db) %></p>
<p>Duration (hours): <%= @race.duration %></p>
<%= link_to "Edit Details", edit_trail_race_path([@trail, @race]) %> | 
<%= link_to "Remove", trail_race_path([@trail, @race]), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</article>

<article>
<% if @race.winner.present? %>
<h3>Winner</h3>
Runner #<%= @winning_run.id %>: <%= @winner.name.capitalize %>
<% end %>
<h3>Participants</h3>
<% if @race.registered_runs.present? %> 
  <ul>
  <% @race.registered_runs.each do |run| %> 
    <li> <%= run.person.name.capitalize %> </li>
  <% end %> 
  </ul>
<% else %> 
  None yet!
<% end %> 
</article>