<h3><%= image_tag("trail_32.png")%> The <%= @trail.name %> Trail</h3>

<article>
<h4>Requirements:</h4>
<p>
Age (years): <%= @trail.age_minimum %> to <%= @trail.age_maximum %> <br>
Weight (kg): <%= @trail.weight_minimum %> to <%= @trail.weight_maximum %> <br>
Body Build: <%= @trail.body_build %>
</p>

<%= link_to "Edit", edit_trail_path(@trail) %> |
<%= link_to "Remove", trail_path(@trail), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

</article>
<article>
<% if @trail.ongoing_race.present? %>
<h4>Ongoing Race</h4>
<%= link_to @trail.ongoing_race.name, [@trail, @trail.ongoing_race] %> - <%= @trail.ongoing_race.start.to_date %>, <%= @trail.ongoing_race.start.strftime("%I:%M%p") %>
<% end %>
<h4>Upcoming Race</h4>
<ul>
  <% @trail.upcoming_races.each do |race| %>
  <li>
    <%= link_to race.name, [@trail, race] %> - <%= race.start.to_date %>, <%= race.start.strftime("%I:%M%p") %>
  </li>
  <% end %>
</ul>
<%= link_to "See All Races", trail_races_path(@trail) %>
</article>
<article>
<h4>Ongoing Trailers</h4>
<% if @trail.ongoing_practices? %> 
  <ul>
  <% @trail.ongoing_practices.each do |practice| %> 
    <li><%= link_to practice.person.name.capitalize, practice.person %> </li>
  <% end %> 
  </ul>
<% else %> 
  <p>None at the moment.</p> 
<% end %> 
<%= link_to "See Eligibles", eligible_people_trail_path(@trail) %>

<h4>Trail Finishers</h4>
<% if @trail.past_practices? %> 
  <ul>
  <% @trail.past_practices.each do |practice| %> 
    <li><%= link_to practice.person.name.capitalize, practice.person %> </li>
  <% end %> 
  </ul>
<% else %> 
  None yet!
<% end %> 