<h3>The <%= @trail.name %> Trail</h3>

<h4>Requirements:</h4>
<p>
Age (years): <%= @trail.age_minimum %> to <%= @trail.age_maximum %> <br>
Weight (kg): <%= @trail.weight_minimum %> to <%= @trail.weight_maximum %> <br>
Body Build: <%= @trail.body_build %>
</p>

<%= link_to "Edit", edit_trail_path(@trail) %>
<%= link_to "Remove", trail_path(@trail), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<%= link_to "See Eligibles", eligible_people_trail_path(@trail) %>
<%= link_to "See Races", trail_races_path(@trail) %>

<br>
<h5><%= @trail.name %> Trail's Ongoing Trailers: </h5>
<% if @trail.ongoing_practices? %> 
  <ul>
  <% @trail.ongoing_practices.each do |practice| %> 
    <li><%= link_to practice.person.name.capitalize, practice.person %> </li>
  <% end %> 
  </ul>
<% else %> 
  <p>None at the moment.</p> 
<% end %> 

<h5><%= @trail.name %> Trail's Finishers</h5>
<% if @trail.past_practices? %> 
  <ul>
  <% @trail.past_practices.each do |practice| %> 
    <li><%= link_to practice.person.name.capitalize, practice.person %> </li>
  <% end %> 
  </ul>
<% else %> 
  None yet!
<% end %> 