<h1>Start a Practice for: <%= @person.name.capitalize %></h1>


<%= form_with model: [@person, @person.practices.build] do |form| %>
  <div>
    <%= form.label "Select a trail" %><br>
    <%= form.select :trail_id, @person.get_trail_options(@trails)%>
  </div>
  <div>
    <%= form.hidden_field :person_id, value: @person.id %>
  </div>
  <% @practice.errors.full_messages.each do |message| %>
    <div class="form_error"><%= message %></div>
  <% end %>
  <div>
    <%= form.submit "Start Practice"%>
  </div>
<% end %>

<%= link_to "Back", person_path(@person) %>