<h1>Start a Practice for: <%= @person.name.capitalize %></h1>


<%= form_with model: [@person, @person.practices.build] do |form| %>
  <p>
    <%= form.label "Select a trail" %><br>
    <%= form.select :trail_id, @person.get_trail_options(@trails)%>
  </p>
  <p>
    <%= form.hidden_field :person_id, value: @person.id %>
  </p>
  <% @practice.errors.full_messages.each do |message| %>
    <p style="color:red;"><%= message %></p>
  <% end %>
  <p>
    <%= form.submit "Start Practice"%>
  </p>
<% end %>

<%= link_to "Back", person_path(@person) %>