<h1>Register to a Race for: <%= @person.name.capitalize %></h1>


<%= form_with model: [@person, @person.runs.build] do |form| %>
  <p>
    <%= form.label "Select a Race" %><br>
    <%= form.select :race_id, @races.collect {|race| [race.name, race.id]} %>
  </p>
  <% @run.errors.full_messages.each do |message| %>
    <p style="color:red;"><%= message %></p>
  <% end %>
  <p>
    <%= form.submit "Register"%>
  </p>
<% end %>

<%= link_to "Back", person_path(@person) %>